.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 100%;
}

.fighter-preview___right {
  align-items: flex-end;
}
.fighter-preview___right img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  margin: auto;
  height: 60%;
}

.fighter-preview___name {
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 5%;
}

.fighter-preview___info {
  background-color: rgba(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 5%;
}

.fighter-preview___name:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.fighter-preview___info:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
